@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.extesnion{
  z-index:2 !important;
  margin: 5px !important;
  color: white;
  top: 5px !important;
  right: 5px !important;
  position: absolute !important;
  max-width: 350px !important;
  min-height: 370px !important;
  background-color: #24292f;
  font-family: var(--font-main);
  border: 1.5px dashed #cf222e;
 
}

:root {
  --font-main: "Roboto", sans-serif;
  --background: white;
}

/* utility  */
.flex {
  display: flex;
  align-items: center;
}

.h1-center {
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrape {
  flex-direction: column;
  gap: 30px;
}
.main-title-price {
  gap: 40px;
  margin-bottom: 10px;
}

.special-price {
  flex-direction: column;
  gap: 15px;
}

.product-img {
  height: auto;
  max-width: 45%;
}

/* client-info */

.client-info {
  flex-direction: column;
  gap: 10px;
}
.client-input {
  border: none;
  min-width: 15rem;
  padding: 8px 8px 8px;
  outline: 1px solid black;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.client-info a {
  text-decoration: none;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  padding: 10px 10px 10px;
  color: white;
  font-family: var(--font-main);
  border-radius: 30px;
  margin-bottom: 10px;
}

/* remove arrow from input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-everything{
  display: none;
}