* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  width: 400px;
  color: black;
  /* text-align: center; */
}
body {
  margin: 0;
  border: 3px solid greenyellow;
  background-color: #f1f6f5;
  padding: 5px;
}

.top-class {
  /* justify-content: center; */
  /* justify-items: center; */
  display: flex;
}
.product-container {
  margin: 10px;
}
.desired-price {
  border: 1px solid #4b56d2;
  max-width: 8rem;
  padding: 0.3rem;
  margin-top: 5px;
  border-radius: 5px;
  font-size: medium;
}
img {
  /* max-width: 70px; */
  flex-basis: 50%;
  max-width: 300px;
  max-height: 250px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  margin: 2px 5px;
  font-size: medium;
  width: 8rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  background-color: #54b435;
  color: white;
}
