@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 5px;
    padding:0;

    box-sizing: border-box;
    max-width: 450px;
}

body{
    background-color: #24292f;
    color: white;
    font-family: var(--font-main);
    border:  1.5px dashed #cf222e;
}
:root{
    --font-main:'Roboto', sans-serif;
    --background:white;
}


/* utility  */
.flex{
    display: flex;
    align-items: center;
}



.h1-center{
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.scrape{
    flex-direction: column;
    gap: 30px;
}
.main-title-price{

    gap:40px
}

.special-price{
    flex-direction: column;
    gap: 15px;
}

img{
    height: auto;
    max-width: 55%;
}

/* client-info */

.client-info{
    flex-direction: column;
}
.client-input{
    min-width: 15rem;
    padding: 8px 0 8px;
    outline: 1px solid black;
    border: none;
     background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.client-info a{
    text-decoration: none;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    padding: 10px 10px 10px;
    color: white;
    font-family: var(--font-main);
    border-radius: 30px;
}